.container {
    background-image: url('/assets/image2.jpg');
    background-repeat: no-repeat;
    background-size: 75% auto;
    background-position: left 60%;

}

.input {
  width: 100%;
  padding: 10px 14px;
  border: 1.5px solid #000;
  border-radius: 8px;
  outline: none;
}

.input:focus {
  border-color: #16a34a;
}

.label {
  display: block;
  font-size: 0.75rem;
  color: #6b7280;
  margin-bottom: 0.25rem;
}

.input-sm {
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 14px;
}
